@font-face {
  font-family: "iconfont"; /* Project id 3922322 */
  src: url('iconfont.woff2?t=1678948887265') format('woff2'),
       url('iconfont.woff?t=1678948887265') format('woff'),
       url('iconfont.ttf?t=1678948887265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-shoucang1:before {
  content: "\e86d";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-shouye:before {
  content: "\e621";
}

.icon-history:before {
  content: "\e603";
}

.icon-gerenxinxi:before {
  content: "\e641";
}

.icon-gerenxinxi1:before {
  content: "\e605";
}

.icon-shipin:before {
  content: "\e607";
}

.icon-shipin1:before {
  content: "\e60e";
}

.icon-gonggao1:before {
  content: "\e613";
}

.icon-shenqing:before {
  content: "\e6a3";
}

.icon-shenqing1:before {
  content: "\e665";
}

.icon-24gl-portraitMaleInfo:before {
  content: "\eb24";
}

.icon-fengjin:before {
  content: "\e6eb";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e619";
}

.icon-pinglun1:before {
  content: "\e6ad";
}

.icon-shaohouguankan:before {
  content: "\e684";
}

.icon-xiazai1:before {
  content: "\e61d";
}

.icon-xiazai2:before {
  content: "\e61c";
}

.icon-shaohouchuli:before {
  content: "\e61f";
}

.icon-zuozhe:before {
  content: "\e65c";
}

.icon-binggun:before {
  content: "\e85c";
}

.icon-binggan:before {
  content: "\e85d";
}

.icon-chengzi:before {
  content: "\e85e";
}

.icon-buding:before {
  content: "\e85f";
}

.icon-jiandan:before {
  content: "\e860";
}

.icon-lajiao:before {
  content: "\e861";
}

.icon-hanbao:before {
  content: "\e862";
}

.icon-niujiaomianbao:before {
  content: "\e863";
}

.icon-kaomianbaopian:before {
  content: "\e864";
}

.icon-xiangjiao:before {
  content: "\e865";
}

.icon-xilanhua:before {
  content: "\e866";
}

.icon-shutiao:before {
  content: "\e867";
}

.icon-gonggao:before {
  content: "\e648";
}

